---
layout: default
---
<div class="home">
  {{ content }}
  <hr>
  {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">{{ page.list_title | default: "Five latest posts" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts limit:4 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
		<span class="post-meta">{{ post.categories | array_to_sentence_string }}</span>
          {{ post.excerpt }}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <hr>
  <a class="twitter-timeline" data-width="100%" data-height="500" data-theme="light" href="https://twitter.com/LordPansar?ref_src=twsrc%5Etfw">Latest tweets by LordPansar</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>